@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;700&family=Playfair+Display&display=swap');
.Card-Right{
    height: 450px;
    width: 35%;
    margin-left: 5%;
    position: absolute;
    overflow: hidden;
    flex: 1 1 0;
}

.Card-Right2{
    height: 450px;
    width: 35%;
    margin-left: 5%;
    position: absolute;
    flex: 1 1 0;
}

.Card-Left{
    flex: 1 1 0;

}

#slider2{
    display: inline-flex;
    transition: 0.5s;
}

.msg-col02{
    width: 600px;
    height: 280px;
}

.msg-col02 h2{
    color: #fff;
    font-size: 50px;
    max-width: 50rem;
    font-weight: 100;
    margin: 10px 0;
    
}

.msg-col02 p{
    color : #ddd;
    font-size: 15px;
    line-height: 25px;
}

.msg-col02 a{
    display:inline-block;
    text-decoration: none;
    color: #fff;
    background: #333;
    font-size: 15px;
    padding: 10px 35px;
    border-radius: 30px;
    margin-top: 25px;
}

.controller2{
    width: 1px;
    height: 320px;
    display: block;
    background: #c0c0c0;
    position: absolute;
    top: 10%;
}

#lineh1,#lineh2,#lineh3{
    height: 80px;
    width: 10px;
    cursor: pointer;
    transform: translateX(-50%);
}

#activeh{
    width: 5px;
    height: 80px;
    border-radius: 10px;
    background: #fff;
    position: absolute;
    top: 0;
    transform: translateX(-50%);

}

.Scrollmenu{
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    /* border-radius: 15px 50px 30px;  */

}

.Scrollmenu ul{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.Scrollmenu ul:hover{
    background-color: #777;
    
}

.Article-container{
    margin: 0%;
}
.ifweeof{
    font-family: 'Josefin Slab', serif;
    font-weight: 700 !important;
}