/* .Background {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.popup {
    position: absolute;
  }

  .popup {
    
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    /* top: -150%; */
    max-width: 300px;
    width: 100%;
    opacity: 1;
    pointer-events: none;
    box-shadow: 0px 10px 15px rgba(222, 206, 206, 0.1);
    background-color: #f3f7ee;
    color: #000;
    padding: 2%;
    border: 2px solid #000;
    pointer-events: auto;
    
    top: 50%;
    left:40%;
  }

  /* .popup.show {
    top: 50%;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0s 0s ease-in-out, opacity 0.2s 0s ease-in-out,
      transform 0.2s 0s ease-in-out;
    background-color: #f3f7ee;
    color: #000;
    padding: 2%;
    border: 2px solid #000;
  } */

  .popup :is(header, .icons, .field) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .popup header {
    /* padding-bottom: 15px; */
    border-bottom: 1px solid #414662;
  }

  .popup .icons {
    margin: 15px 0 20px 0;
  }

  .content p {
    font-size: 16px;
  }

  .content .icons a {
    height: 50px;
    width: 50px;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid transparent;
  }

  .content .field {
    margin: 12px 0 -5px 0;
    height: 45px;
    border-radius: 4px;
    padding: 0 5px;
    border: 1px solid #e1e1e1;
  }

  .icons a {
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    /* transition: all 0.3s ease-in-out; */
  }

  .icons a i {
    transition: transform 0.3s ease-in-out;
  }
  .icons a:nth-child(1) {
    color: #1877f2;
    border-color: #b7d4fb;
  }
  .icons a:nth-child(1):hover {
    background: #646f83;
  }
  .icons a:nth-child(2) {
    color: #46c1f6;
    border-color: #b6e7fc;
  }
  .icons a:nth-child(2):hover {
    background: #46c1f6;
  }
  .icons a:nth-child(3) {
    color: #e1306c;
    border-color: #f5bccf;
  }
  .icons a:nth-child(3):hover {
    background: #e1306c;
  }
  .icons a:nth-child(4) {
    color: #25d366;
    border-color: #bef4d2;
  }
  .icons a:nth-child(4):hover {
    background: #25d366;
  }
  .icons a:nth-child(5) {
    color: #0088cc;
    border-color: #b3e6ff;
  }
  .icons a:nth-child(5):hover {
    background: #0088cc;
  }
  .icons a:hover {
    color: #fff;
    border-color: transparent;
  }
  .icons a:hover i {
    transform: scale(1.2);
  }
  
  .field.active {
    border-color: #7d2ae8;
  }
  .field i {
    width: 50px;
    font-size: 18px;
    text-align: center;
  }
  .field.active i {
    color: #7d2ae8;
  }
  .field input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
  }
  .field button {
    color: #fff;
    padding: 5px 18px;
    background: #7d2ae8;
  }
  .field button:hover {
    background: #8d39fa;
  }
  
  .popup::-webkit-scrollbar{
    appearance: none;
  }