@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading {
  font-size: 5rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.body {
  margin: 0 5rem;
  font-size: 2rem;
}

.about {
  width: 100%;
  height: 100vh;
  margin-top: 100px;
}
.aim {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.aboutImage {
  width: 45rem;
  height: 45rem;
}
.vision {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.title {
  margin-bottom: 10px;
}

.text {
  width: 200px;
  margin-bottom: 10px;
}
.btn {
  border-radius: 5px;
  padding: 5px;
}
.li-s {
  text-align: left;
  list-style-type: circle;
}
@media screen and (max-width: 600px) {
  .aboutImage {
    width: 25rem;
    height: 25rem;
  }
  .heading {
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
  }
  .body {
    margin: 0 5rem;
    font-size: 1rem;
  }
  .li-s {
    text-align: left;
    list-style-type: circle;
    font-size: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .heading {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
  }
  .aboutImage {
    width: 15rem;
    height: 15rem;
  }
  .bodyv > p {
    font-size: 1rem;
    text-align: justify;
    margin: 10px;
  }
  .bodyv > .li-s{
    font-size: 1rem;
    text-align: justify;
    margin: 10px;
  }
}