@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.about{
  padding: 60px;
}
.about-box{
  display: flex;
  flex-direction: row;
  margin: 90px;
}
.about-company-content{
  padding: 60px;
  flex: 2;
}
.about-mission-content{
  padding: 60px;
  flex: 2;
}
.about-vision-content{
  padding: 60px;
  flex: 2;
}

.about-company-image{
  flex: 1;
}
.about-mission-image{
  flex: 1;
}
.about-vision-image{
  flex: 1;
}

@media screen and (max-width: 600px) {

}
@media screen and (max-width: 400px) {
  
}