body {
  font-family: "Montserrat";
  text-align: center;
  padding: 0%;
  margin: 0%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold";
}

hr {
  height: 10px;
  /* border: none; */
  background-color: black;
  /* transform: rotate(-10deg);
    bottom: 18%; */
  /* position: relative; */
  /* bottom: 2%; */
  text-decoration: none;
}

p {
  color: #000;
  /* text-align: center; */
  /* margin: 3% auto 8% auto; */
  /* padding-bottom: 5%; */
  /* font-weight: bolder; */
}


img {

  text-align: center;
  margin: 0%;
  /* margin-top: 1%; */
  /* display: inline; */
  /* position: relative; */
  /* right: 45%; */
  /* float: left; */
  /* z-index: -1; */
  width: 100%;
}





.logo{
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 110%;
  left: 2%;
  margin: 0%;
  padding: 0%;
  /* width: 100%; */
  transition: 0.5s all ease-in-out;
}


/* .logo:hover{
  transform: scale(1.5);
} */

.det{
  /* padding-top: 6%; */
  position: relative;
  bottom: 10%;
  /* background-color: #96dbe2; */
  margin-bottom: 0%;
  padding-bottom: 0%;
  width: 100%;
}

.det h3{
  margin: 10% 2% 2% 2%;

}

.det ul{
  position: relative;
  left: 8%;
  margin-top: 8%;
  font-size: 2rem;
  list-style-type: none;
}

.det h2{
  position: relative;
  left: 8%;
}

#link{
  text-decoration: none;
}


.det .btn{
  background-color: green;
  width: 95%;
  margin: 1% 2% 1% 2%;
  font-size: 3rem;
  color: yellow;
}


.course-title{
  position: relative;
  bottom: 17%;
  font-weight: bold;
}

.detail{
  position: relative;
  bottom: 10%;
}

.course-box{
  border: 1px solid #000;
  /* border-radius: 2%; */
}

.course-box:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}














.box {
  margin:  1% auto;
  border: 1px solid;
  /* background-color: #664aff; */
  padding: 0%;
  height: 440px;
  
}

.box:hover {
  /* box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6); */
  cursor: pointer;
  /* border-radius: 5%; */
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bolder;
}

.section-heading {
  font-size: 2rem;
  line-height: 1.5;
}

.colored-section {
  background-color: #96dbe2;
  color: #000;
  /* padding: 0%; */
  margin: 0%;
}

.white-section {
  background-color: #fff;
  /* color: #000; */
}

.container-fluid {
  padding: 7% 10%;
}

.container-course {
  padding: 2% 4%;
}




/* Testimonial Section */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: Roboto, sans-serif;
}

.slider {
  position: relative;
  width: 960px;
  height: 300px;
  margin: 50px auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.slider-controls {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 200px;
  text-align: center;
  transform: translatex(-50%);
  z-index: 1000;

  list-style: none;
  text-align: center;
}

.slider input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-controls label {
  display: inline-block;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #212121;
  transition: background-color 0.2s linear;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"] {
  background-color: #ff4081;
}

#btn-2:checked ~ .slider-controls label[for="btn-2"] {
  background-color: #ff4081;
}

#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background-color: #ff4081;
}

#btn-4:checked ~ .slider-controls label[for="btn-4"] {
  background-color: #ff4081;
}

#btn-5:checked ~ .slider-controls label[for="btn-5"] {
  background-color: #ff4081;
}

/* SLIDES */

.slides {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: 100%;

  opacity: 0;
  transform: translatex(-100%);
  transition: transform 250ms linear;
}

.slide-content {
  width: 400px;
}

.slide-title {
  margin-bottom: 20px;
  font-size: 5rem;
  font-family: cursive;
  /* font-family: 'Courier New', Courier, monospace; */
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  text-align: right;
  font-weight: bold;
}

.slide-text {
  margin-bottom: 20px;
}


/* slide font color */


.s-t-1{
  color: #371B58;
}

.s-t-2{
  color: #4C3575;
}

.s-t-3{
  color: #5B4B8A;
}

.s-t-4{
  color: #7858A6;
}

.s-t-5{
  color: #371B58;
}


.slide-link {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  background-color: #ff4081;
}

.slide-image img {
  max-width: 100%;
}

/* Slide animations */
#btn-1:checked ~ .slides .slide:nth-child(1) {
  transform: translatex(0);
  opacity: 1;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  transform: translatex(0);
  opacity: 1;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  transform: translatex(0);
  opacity: 1;
}


#btn-4:checked ~ .slides .slide:nth-child(4) {
  transform: translatex(0);
  opacity: 1;
}


#btn-5:checked ~ .slides .slide:nth-child(5) {
  transform: translatex(0);
  opacity: 1;
}







#btn-1:not(:checked) ~ .slides .slide:nth-child(1) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

#btn-2:not(:checked) ~ .slides .slide:nth-child(2) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

#btn-3:not(:checked) ~ .slides .slide:nth-child(3) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}


#btn-4:not(:checked) ~ .slides .slide:nth-child(4) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}


#btn-5:not(:checked) ~ .slides .slide:nth-child(5) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}





@keyframes swap-out {
  0% {
    transform: translatex(0);
    opacity: 1;
  }

  50% {
    transform: translatex(50%);
    opacity: 0;
  }

  100% {
    transform: translatex(100%);
  }
}


/* Search Bar */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-align: left;
}

::selection {
  color: #fff;
  background: #664aff;
}

.wrapper {
  max-width: 450px;
  margin: 10px auto;
}

.wrapper .search-input {
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.search-input input {
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input.active input {
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box {
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search-input.active .autocom-box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocom-box li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.search-input.active .autocom-box li {
  display: block;
}
.autocom-box li:hover {
  background: #efefef;
}

.search-input .icon {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  /* background-color: #f1f1f1; */
  padding: 10px;
  font-size: 16px;
}
input[type="text"] {
  /* background-color: #f1f1f1; */
  width: 100%;
}
input[type="submit"] {
  /* background-color: DodgerBlue; */
  /* color: #fff; */
}
.autocomplete-items {
  position: absolute;
  /* border: 1px solid #d4d4d4; */
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  /* background-color: #fff; */
  /* border-bottom: 1px solid #d4d4d4; */
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  /* background-color: #e9e9e9; */
  /* background-color: #96dbe2; */
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  /* color: #ffffff; */
}

#myInput {
  position: relative;
  /* right: 25px; */
  width: 400px;
}


/* Subject Dropdown */


.nav {
  /* left:50%; */
  margin-left: 2%;
  padding: 2px;
  
  /* top:50px; */
  /* position:absolute; */
}
.nav > li > a:hover,
.nav > li > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background: #fff;
}
.dropdown {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}
.dropdown-menu > li > a {
  color: #428bca;
}
.dropdown ul.dropdown-menu {
  border-radius: 4px;
  box-shadow: none;
  margin-top: 20px;
  width: 300px;
}
.dropdown ul.dropdown-menu:before {
  content: "";
  border-bottom: 10px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -10px;
  right: 16px;
  z-index: 10;
}
.dropdown ul.dropdown-menu:after {
  content: "";
  border-bottom: 12px solid #ccc;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  position: absolute;
  top: -12px;
  right: 14px;
  z-index: 9;
}

/* Course */
.download-button {
  background-color: #96dbe2;
  color: #000;
  /* margin: 5% 2% 5% 2%; */
}








.cont{

  position: relative;
  bottom: 10%;

  font-size: 2rem;

  margin:  auto;
  width:400px;
  height: 120px;
  /* background-color:#fff; */
  display:grid;
  grid-template-columns: 190px 190px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  /* background-color:#eee; */
}

.bx{
  background-color:#333;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:sans-serif;
}


.fa-solid {
  margin: 0 8px 0 0;
}






/* Pop-Up */



.b {
  /* width: 40%; */
  /* margin: 0 auto; */
  /* background: rgba(255,255,255,0.2); */
  /* padding: 35px; */
  /* border: 2px solid #fff; */
  /* border-radius: 20px/50px; */
  /* background-clip: padding-box; */
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  /* border: 2px solid #06D85F; */
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  /* background: #06D85F; */
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;

  z-index: 99;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  /* font-family: Tahoma, Arial, sans-serif; */
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .b{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}


#enroll{
  background-color: green;
}









/* footer */




/*footer*/
.col_white_amrc {
  color: #fff;
}
footer {
  width: 100%;
  height: 100%;
  background-color: #96dbe2;
  /* min-height: 250px; */
  padding: 10px 0px 0px 0px;
  margin: 1% 0% 0% 0%;

}
.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}
footer p {
  font-size: 13px;
  /* color: #ccc; */
  /* color: #000; */
  padding-bottom: 0px;
  margin-bottom: 8px;
}
.mb10 {
  padding-bottom: 15px;
  line-height: 2px;
  font-weight: bold;
}
.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}
.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}
.footer_ul_amrc li a {
  color: #000;
}
.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}
.fleft {
  float: left;
}
.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}

.footer_ul2_amrc li a:hover {
  text-decoration: none;
}
.footer_ul2_amrc li i {
  margin: 50px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}
.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  /* margin-top: 10px; */
  /* margin-right: auto; */
  /* margin-bottom: 10px; */
  /* margin-left: auto; */
}
.foote_bottom_ul_amrc li {
  display: inline;
}
.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  /* margin: 15px auto 0 auto; */
  list-style-type: none;
}
.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}
.social_footer_ul li a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 50%;
}
.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}

.map {
  width: 10%;
  padding: 0%;
  margin: 0%;
}

.social-icons-ql {
  text-align: center;
}

.social-icons-ql li {
  text-align: right;
  list-style: none;
  float: left;
  width: 50px;
  height: 50px;
  line-height: 45px;
  margin: 10px;
  margin-left: 5px;
}

#fol {
  /* text-align: left; */
  margin-left: 60px;
}
#cont {
  text-align: right;
}
.face {
  margin-left: 8px;
}

/* .social-icons-ql li:nth-child(1){
  width:50px;
  height:50px;
  line-height:57px;	   
  margin:5px 5px;
  background:#34558E;
} */

.social-icons-ql li i {
  color: #fff;
  font-size: 20px;
}
