.formlabel {
    font-size: 16px;
    color: green;
}
input{
    border: 1px solid black;
}

.SignInForm {
    background-color: white;
    padding: 0px 60px;
    border-radius: 10px;
    height: 50rem;
    width: 45rem;
}

@media screen and (max-width:900px) {
    .SignInForm{
        height: 50rem;
        width: 75rem;
    }
}