.formInput{
    display: flex;
    flex-direction: column;
    width: 280px;
}

input{
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: #f1f1f1;
    font-size: 16px;
}


  input[type="submit"] {
    background-color: DodgerBlue;
    color: #fff;
  }

.select{
    border-radius: 5px;
    border: 1px solid gray;
}

.formlabel{
    font-size: 12px;
    color: gray;
}

.droplabel{
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 5px;
    color: gray;
}

span{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

input:invalid[focused="true"]{
    border: 1px solid red;
}

input:invalid[focused="true"] ~ span{
    display: block;
}

@media screen and (max-width : 500px) {
    .formInput{
        width: 220px;
    }
    .Register_h2 {
        font-size: 25px; 
        margin: 10px; 
    }
}

@media screen and (max-width : 400px) {
    .formInput{
        width: 170px;
    }
}

.Register_h2 {
    font-size: 32px; 
    margin: 20px; 
    color: green;
    align-content: center;
}
