.nav2,
.nav2::after,
.nav2::before {
  margin: 0;
  box-sizing: border-box;
  z-index: 1000;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: '#000';
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-4px,4px);
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -4px);
}
.nav2 {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav__brand {
  position: absolute;
  left: 5%;
}

.top-input1 {
  padding: 6px;
  margin-top: 7px;
  margin-left: 10%;
  font-size: 17px;
  border: none;
  background-color: #fff;
  width: 20%;
  height: 58%;
  border-radius: 10px;
  border-style: Solid;
  border-width: 2px;
  border-color: black;
  outline: none;
  margin-right: 10%;
}

/* @media screen and (max-width: 1100px) {
  .nav__brand{
    margin-right: 5%;
  }
} */

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
}
a.nav__link {
  font-size: 15px;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

@media screen and (max-width: 1000px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 50vw;
    background: #fff;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
  .nav__brand {
    position: absolute;
    left: 5%;
  }

  .nav__active {
    transform: translateX(0%);
  }
  .top-input1 {
    width: 200px;
    height: 30px;
    margin-left: 25%;
  }
  .dropdown-content{
    bottom: 100px;
  }
}



 Active Class 
.nav__active {
  transform: translateX(0%);
}

 Toggle Icon Animation 

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}
/* .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
} */

.dropbtn {
  width: 75%;
  height: 50px;
  margin: 20px;
  padding: 10px;
  border: none;
  background-color: darkcyan;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
}

.Logout-button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color:#96DEB2;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
}

.dropbtn:hover{
  background-color: darkcyan;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 8px;
  text-decoration: none;
  display: block;
}
.dropdown-content button {
  color: black;
  padding: 12px 8px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd}
.show {display:block;
  border-radius: 10px;
}
/* .navbar {
  height: 10vh;
  background: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10rem;
}

.nav-items {
  display: flex;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: flex-end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 10vh;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  margin-right: 2rem;
  padding: 6px 16px;
  border-radius: 5px;
}

.nav-item a:hover {
  background: rgb(0, 212, 212);
} */

@media screen and (max-width:1400px) {
  .top-input1{
    margin-left: 15%;
  }
}

@media screen and (max-width:1150px) {
  .top-input1{
    width: 130px;
  }
  .top-input1{
    margin-left: 15%;
  }
}

/* @media screen and (max-width:1150px) {
  .top-input1{
    width: 130px;
  }
  .top-input1{
    margin-left: 25%;
  }
} */

/* @media screen and (max-width:600px) {
  .top-input1{
    width: 181px;
  }
  .top-input1{
    margin-left: 17%;
  } */

/* @media screen and (max-width:500px) {

  .top-input1{
    margin-left: 20%;
  }
  .top-input1 nav__item{
    margin-right: 20px;
  }
} */

@media screen and (max-width: 480px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
    width: auto;
  }
  
  .nav2 {
    /* position: relative; */
    padding-right: 2rem;
  }
  .top-input1 {
    margin-left: 0;
}
.dropbtn{
  width: 70%;
  margin: 20px;
}
  .nav__menu {
    position: fixed;
    top: 0;
    height: 100vh;
    right: 0;
    width: 50vw;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    background-color: #96DEB2;
  }
  .nav__brand {
    position: relative;
    left: 5%;
  }

  .nav__active {
    transform: translateX(0%);
  }
  .nav__brand {
    left: 2%;
  }
}

@media screen and (max-width:400px) {
  .top-input1{
    margin-left: 32%;
  }
}

