.popup .show {
  top: 50%;
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0s 0s ease-in-out, opacity 0.2s 0s ease-in-out, transform 0.2s 0s ease-in-out;
  background-color: #f3f7ee;
  color: #000;
  padding: 2%;
  border: 2px solid #000;
}
  